################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

./.vs
./bin
./obj
/CSharp/.vs/CodeSnippetsRepo/v16
/CSharp/bin/Debug
/CSharp/obj
